body {
  font-family: sans-serif;
  margin: 16px;
  width: 260px;
}

input {
  width: 140px;
  padding: 4px;
}

button {
  padding: 4px 8px;
  margin-left: 4px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 12px;
}

li {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 6px 8px;
  margin-bottom: 6px;
  background: #ffffff;
  border-radius: 6px;
  cursor: grab;
  font-size: 14px;
}

li span:first-child {
  margin-left: 6px;
  color: #0c0c0c;
}


li.done .task-text {
  text-decoration: line-through;
  color: #888;
}

li.dragging {
  opacity: 0.5;
}

li div {
  gap: 4px;
}


button {
  border: none;
  background: none;
  cursor: pointer;
}

li button {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

li button:hover {
  color: #cc0000;
}